@model IEnumerable<InventoryDemo.Models.ViewModels.CustomerView>

@{
    ViewData["Title"] = "Index";
    var premium = "Yes";
}

<h1>Customer List</h1>
<td><p style="font-size:18px"><a asp-action="Create" style="color:whitesmoke" class="btn btn-success btn-md">Create New</a></p></td>
<table class="table" border="1">
    <thead>
        <tr>
            <th align = "left">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th align = "left">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

            <th align = "left">
                @Html.DisplayNameFor(model => model.PremiumMembership)
            </th>

            <th align = "center" style="padding-left:20px;">
                Make Changes
            </th>
        </tr>
    </thead>
    <tbody id="table-body">
    @foreach (var item in Model) {
        <tr>
            <td align = "left" style="padding-top:45px;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td align = "left" style="padding-top:45px;">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            
            <td align = "left" style="padding-top:45px;">
                @{
                    if (item.PremiumMembership) premium = "Yes";
                    else premium = "No";
                }
                @premium
            </td>

            <td style="padding-top:45px;">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-md">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-md">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
 